<table>
    <th>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Company</td>
    </th>
    {{#each users}}
        <tr>
            <td><a target="_blank" href="{{image-url}}"><img style="height:50px; width:50px;
            object-fit:cover;" src="{{image-url}}"/></a></td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            {{{boldNumber}}}
            {{{colorChange}}}
        </tr>
    {{/each}}
</table>